[Unit]
Description=NRI supervisor
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -l -c /home/nri/software/nri/supervisor.sh
User=nri
Group=nri

[Install]
WantedBy=multi-user.target

