[submodule "openni2"]
	path = src/structure/openni2
	url = https://github.com/occipital/openni2
[submodule "overrides/filetime"]
	path = overrides/filetime
	url = git@github.com:alexcrichton/filetime
[submodule "overrides/staticfile"]
	path = overrides/staticfile
	url = git@github.com:iron/staticfile
[submodule "overrides/handlebars-iron"]
	path = overrides/handlebars-iron
	url = git@github.com:sunng87/handlebars-iron
