target
target-beta
target-nightly
*.so
*.sw*
Session.vim
*.dat
*.png
*.csv
cargo-doc-command
*.zip
*.tgz
*.old
screenlog.*
crates/bluefox/drivers/mvacquire/
data
keepalive
perf.*
Cargo.lock
!/Cargo.lock
