[submodule "openni2"]
	path = crates/drivers/structure/OpenNI2
	url = https://github.com/occipital/openni2
[submodule "staticfile"]
	path = overrides/staticfile
	url = git@github.com:iron/staticfile
[submodule "liboptoforce"]
	path = crates/drivers/optoforce/liboptoforce
	url = git@github.com:haptics-nri/liboptoforce
[submodule "remake"]
	path = crates/drivers/optoforce/remake
	url = git@github.com:haptics-nri/remake
[submodule "hprof"]
	path = overrides/hprof
	url = git@github.com:cmr/hprof
[submodule "overrides/urlencoded"]
	path = overrides/urlencoded
	url = git@github.com:haptics-nri/urlencoded
